{{if !empty($spec_info)}}
<table class="am-table am-table-striped am-table-hover">
    <thead>
        <tr>
            <th>规格</th>
            <th>库存</th>
        </tr>
    </thead>
    <tbody>
        {{foreach $spec_info as $v}}
        <tr>
            <td>{{$v.name}}</td>
            <td>
                <input type="number" name="specifications_inventory[]" value="{{if !empty($v['inventory'])}}{{$v.inventory}}{{/if}}" placeholder="库存" class="am-radius" min="0" max="100000000" pattern="^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\.\d+)?$" data-validation-message="库存数量 0~100000000" />
                <input type="hidden" name="specifications_inventory_org[]" value="{{if !empty($v['inventory'])}}{{$v.inventory}}{{/if}}" />
                <input type="hidden" name="specifications_md5_key[]" value="{{$v.md5_key}}" />
                <input type="hidden" name="specifications_spec[]" value="{{$v.spec}}" />
            </td>
        </tr>
        {{/foreach}}
    </tbody>
</table>
{{else /}}
<div class="table-no"><i class="am-icon-warning"></i> 无规格数据</div>
{{/if}}